.error-box {
    color: red;
}
.info-box {
    color: green;
}
nav {
    display: flex;
}
nav li {
    margin: 10px;
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    padding: 5px;
}
li > label:first-child {
    width: 170px;
    margin-right: 20px;
    float: left;
}
ul.error {
    color: red;
}